{% extends layout_template  %}

{% block title %}{{ interface('forgotpass_q') }}{% endblock %}

{% block content %}

    <h1>{{ interface('forgotpass_q') }}</h1>

    <p class="text-muted lead">
        {{ interface('enteremail') }}
    </p>

    {% if error %}
        <div class="alert alert-danger">{{ error|nl2br }}</div>
    {% endif %}

    <form class="form-horizontal" method="POST" action="{{ path('user.forgot-password') }}">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="inputEmail">{{ interface('email') }}</label>
            <div class="col-sm-8">
                <input class="form-control" name="email" type="text" id="inputEmail" required value="{{ email }}">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-8 col-sm-offset-2">
                <button type="submit" class="btn btn-primary">{{ interface('sendmeinstr') }}</button>
                <a href="{{ path('user.login') }}" style="margin-left: 10px;">{{ interface('backtologin') }}</a>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-8 col-sm-offset-2" style="margin-top: 20px;">
                <hr/>
                {{ interface('resetwarning') }} <strong>{{ fromAddress }}</strong>.
            </div>
        </div>
    </form>


{% endblock %}
