{#
Template for an email message sent to authorize a password reset.
Variables passed to this template:
    user: The SimpleUser\User instance.
    resetUrl: The link to click to reset the password.
#}

{# The subject line. #}
{%- block subject -%}{%- autoescape false -%}
{{ interface('email.repass_1') }}
{%- endautoescape -%}{%- endblock -%}

{# The plain text message. #}
{%- block body_text -%}{%- autoescape false -%}

{{ interface('email.repass_1') }}

{{ interface('email.repass_2') }}
{{ resetUrl }}


_______________________________________________________________
{{ interface('email.repass_3') }}

{{ interface('email.repass_4') }}

{%- endautoescape -%}{%- endblock -%}

{# The HTML message. Optional. #}
{%- block body_html -%}

    <h1>{{ interface('email.repass_1') }}</h1>

    <p>
        {{ interface('email.repass_5') }} <a href="{{ resetUrl }}">{{ interface('email.repass_6') }}</a>.
    </p>

    <hr style="margin-top: 30px;"/>
    <p style="font-size: 13px;">
        <strong>{{ interface('email.repass_3') }}</strong>
        <br/>
        {{ interface('email.repass_4') }}
    </p>

{%- endblock -%}
